<!doctype html>
<html>
  <head>
    <title>My cool NPM demo</title>

    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>

  <body>
    <h1>Hello World - I'm using EJS</h1>

    <p>EJS is a great view rendering engine that works well with Express.js</p>

    <div class="box">I'm a box</div>
  </body>

  <script src="/javascripts/main.js"></script>
</html>
